<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are sumarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Spark

Some of the commonly used libraries used by Data Scientists incluide:
1. Numpy
2. Plotly
3. Scikit-learn

|Data Science Tools |
| ------ |
|RStudio|
|Jupyter Notebook|
|TensorFlow|
|Apache Spark|

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

In [ ]:
# This a simple arithmetic expression to mutiply then add integers.

In [4]:
200/60

3.3333333333333335

In [ ]:
#This will convert 200 minutes to hours by diving by 60.

Objectives:
- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub

# H2: Roberto Blanco Bravo